div.comment-meta span span {
	float: none;
}

#side-tags .one   { font-size: 1.0em; }
#side-tags .two   { font-size: 1.2em; }
#side-tags .three { font-size: 1.4em; }
#side-tags .four  { font-size: 1.6em; }
#side-tags .five  { font-size: 1.8em; }
#side-tags .six   { font-size: 2.0em; }
#side-tags .seven { font-size: 2.2em; }
#side-tags .eight { font-size: 2.4em; }
#side-tags .nine  { font-size: 2.6em; }
#side-tags .ten   { font-size: 2.8em; }

.divide { border-right: 2px solid #D3D3D3;  }

.loginform { 
    float: left; 
    width: 45%; 
    padding-left: 15px; 
    padding-right: 15px; 
}

.loginform h3 { 
    margin-bottom: 0;
    margin-top: 10px;
    font-size: large;
    font-weight: bold; 
    font-variant: small-caps;
    color: #404040;
}
.loginform p { 
    text-align: left;
    margin-bottom: 10px; 
    color: #606060;
    margin-bottom: 20px; 
}
.loginform label {
    display: block; 
    font-weight: bold;
    color: #606060; 
}

.loginform .remember { display:inline; margin-left: 5px;  }
.loginform ul { margin: 5px; list-style: none; }
.loginform li { margin-top: 5px; }
.loginform p .btn { margin-top: 5px }
.loginform input.logtxt { width: 125px; }

.loginform input[type=text],
.loginform input[type=password] { 
    width: 125px;
    border: 1px solid #A0A0A0;
    margin-top: 2px; 
    margin-bottom: 2px; 
    padding: 1px;
}

.loginform #captcha { 
    width: 250px;
 }

/* cover */
.cover {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: .7;
    filter:alpha(opacity=70); /* IE patch */
    z-index: 1000;
}

.popup {
    position: absolute;
    left: 10%;
    background-color: white;
    top: 100px;
    width: 80%;
    text-align: left;
    z-index: 1001;
    padding: 10px;
    border-color: #B2B2B2 black black #B2B2B2;
    border-style: solid;
    border-width: 1px;
}

.popup h1 { 
    text-align: center;
    font-size: large; 
    font-weight: normal;
    color: orangered;
}

.popup h2 { 
    text-align: center;
    font-size: small;
    margin-top: 0px;
    color: black;
    font-weight: normal;
}

/* Recent comments */
.comment.inline {
    border: none;
    padding: 0;
    margin: 0 0 0 15px;
    display: list-item;
    list-style: disc;
}
.comment.inline .md {
    font-size: 1em;
    font-weight: bold;
}
.comment.inline .md p {
    margin: 0;
}
#side-comments h3 {
	margin: 0;
}

/* Recent articles */
#side-posts div.reddit-link div {
    display: list-item;
    list-style: disc;
    margin-left: 15px;
}

.commentreply {
    clear: both;
    width: 40em;
    margin: 10px 10px 10px 0;
}
.commentreply textarea {
    width: 100%;
}
.commentreply .buttons {
    float: left;
}
.commentreply .help-toggle {
    float:right;
}

#comment-controls {
    float: right;
}
#comment-controls label {
	padding-right: 5px;
}

/* markdown */
.md { font-size: small; }
.md h1 { font-weight: normal; font-size: 100%; }
.md strong { font-weight: bold; }
.md em, .help em { font-style: italic; }
.md strong em { font-style: italic; font-weight: bold }
.md ol, .md ul, .help ul { margin: 10px 2em; }
.md ul, .help ul { list-style: disc outside }
.md ol { list-style: decimal outside }
.md pre { margin: 10px; }
.md blockquote, .help blockquote {
    border-left: 2px solid #369;
    padding-left: 4px; 
    margin: 5px;
    margin-right: 15px;
}

h1 a, h2 a {
    color: inherit;
    text-decoration: inherit;
}
