#content .list {
  margin-bottom: 0.5em;
  position: relative;
  clear: both;
}

#content .list h2 {
  float: left;
  margin-left: 35px;
  z-index: 1;
}

#content .list .meta {
  float: right;
  text-align: right;
  margin-bottom: 0;
  z-index: 2;
}

#content .list .meta span {
  display: inline-block;
  float: none;
}

#content .list .meta .votes {
  position: absolute;
  left: 0;
  top: 0;
}

#content .list .meta .votes .votes {
  position: relative;
}

#content .list .content {
  display: none;
}

#content .list .tools {
  margin: 0;
  padding: 0 0 0 30px;
  line-height: 1;
  border: none;
  background: none;
  float: right;
}

#content .list .tools * {
  display: none;
}

#content .list .tools a.comment {
  display: block;
  float: right;
  line-height: 22px;
  margin-right: 15px;
}

#content .nextprev {
  clear: both;
}

#header.discussion {
	background: url(/static/background-discussion.jpg) no-repeat top left;
}

#header.discussion #header-img {
	height: 55px;
}

#header.discussion #tagline {
	display: none;
}