/* IE6 PNG Fix
-------------------------------------------------------------------------------------- */
#header img,
#side-feed a img,
div.footer div.reddit img {
	behavior: url(/iepngfix/iepngfix.htc);
}


/* Header
-------------------------------------------------------------------------------------- */
a#logo {
	display: inline;
}


/* Post
-------------------------------------------------------------------------------------- */
div.tools ul {
	float: right;
	width: 100%;
}
div.tools ul li {
	display: inline;
	float: right;
}
div.tools div.tags {
  display: inline;
}
div.tools div.articlenavigation ul {
	float: none;
}
div.tools div.articlenavigation ul li {
	display: block;
	float: none;
	height: 15px;
	overflow: hidden;
}


/* Meetup
-------------------------------------------------------------------------------------- */
body.meetup-index #map {
	display: inline;
}


/* Comments
-------------------------------------------------------------------------------------- */
form#comment-listing {
	width: 210px;
}
form#comment-listing select {
	width: 150px;
}


/* Sidebar
-------------------------------------------------------------------------------------- */
div.sidebox select {
	float: left;
}
#side-search input {
    width: auto;
}
#side-status ul.userlinks li a {
	width: 96px;
}
#side-comments h3 {
	width: 175px;
}
#side-status .extrainfo dd {
  overflow: hidden;
  width: 140px;
}
