/* IE6 PNG Fix - Requires /images/blank.gif - Set correct path in /js/iepngfix.htc
-------------------------------------------------------------------------------------- */
#sample {
	behavior: url("/static/iepngfix.htc");
}


/* Post
-------------------------------------------------------------------------------------- */
div.tools ul {
	float: right;
	width: 100%;
}
div.tools ul li {
	display: inline;
}


/* Comments
-------------------------------------------------------------------------------------- */
form#comment-listing {
	width: 210px;
}
form#comment-listing select {
	width: 150px;
}


/* Sidebar
-------------------------------------------------------------------------------------- */
div.sidebox input,
div.sidebox select {
	float: left;
}
#side-status ul.userlinks li a {
	width: 90px;
}
