#fhi #cfar #miri {
  float: left;
  margin-top: 10px;
  padding-top: 10px;
}

#sidebar{
  display: none;
}
#content{
  width: 900px;
}
#nav {
  display: none;
}
#wiki {
  padding-right: 150px;
  padding-left: 150px;
  font-size: 16px;
}
.article-list {
  font-size: 13px;
  width: 280px;
}

.sequences-button {
  text-align: center;
  margin-bottom: 0px;
}

.sequences-button > p {
  margin-bottom: 0px;
}

.sequences-button > p > a {
  font-size: 30px;
  text-decoration: none;
}

.org-table {
  font-size: 20px;
}

.org-table > td > a {
  text-decoration: none;
}
