[submodule "config/cap-tasks"]
	path = config/cap-tasks
	url = git@git.trikeapps.com:trike/capistrano.git
[submodule "tasks/manual_test_script"]
	path = tasks/manual_test_script
	url = git://github.com/tricycle/manual_test_script.git
[submodule "provisioning/cookbooks/database"]
	path = provisioning/cookbooks/database
	url = https://github.com/opscode-cookbooks/database.git
[submodule "provisioning/cookbooks/apache2"]
	path = provisioning/cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "provisioning/cookbooks/git"]
	path = provisioning/cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "provisioning/cookbooks/xml"]
	path = provisioning/cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule "provisioning/cookbooks/postgresql"]
	path = provisioning/cookbooks/postgresql
	url = https://github.com/opscode-cookbooks/postgresql.git
[submodule "provisioning/cookbooks/openssl"]
	path = provisioning/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "provisioning/cookbooks/build-essential"]
	path = provisioning/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "provisioning/cookbooks/runit"]
	path = provisioning/cookbooks/runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule "provisioning/cookbooks/freebsd"]
	path = provisioning/cookbooks/freebsd
	url = https://github.com/opscode-cookbooks/freebsd.git
[submodule "provisioning/cookbooks/iptables"]
	path = provisioning/cookbooks/iptables
	url = https://github.com/opscode-cookbooks/iptables.git
[submodule "provisioning/cookbooks/logrotate"]
	path = provisioning/cookbooks/logrotate
	url = https://github.com/opscode-cookbooks/logrotate.git
[submodule "provisioning/cookbooks/pacman"]
	path = provisioning/cookbooks/pacman
	url = https://github.com/opscode-cookbooks/pacman.git
[submodule "provisioning/cookbooks/aws"]
	path = provisioning/cookbooks/aws
	url = https://github.com/opscode-cookbooks/aws.git
[submodule "provisioning/cookbooks/mysql"]
	path = provisioning/cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "provisioning/cookbooks/yum-mysql-community"]
	path = provisioning/cookbooks/yum-mysql-community
	url = https://github.com/opscode-cookbooks/yum-mysql-community.git
[submodule "provisioning/cookbooks/yum"]
	path = provisioning/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "provisioning/cookbooks/mysql-chef_gem"]
	path = provisioning/cookbooks/mysql-chef_gem
	url = https://github.com/opscode-cookbooks/mysql-chef_gem.git
[submodule "provisioning/cookbooks/apt"]
	path = provisioning/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "provisioning/cookbooks/chef-sugar"]
	path = provisioning/cookbooks/chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "provisioning/cookbooks/xfs"]
	path = provisioning/cookbooks/xfs
	url = https://github.com/opscode-cookbooks/xfs.git
[submodule "provisioning/cookbooks/yum-epel"]
	path = provisioning/cookbooks/yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "provisioning/cookbooks/dmg"]
	path = provisioning/cookbooks/dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "provisioning/cookbooks/windows"]
	path = provisioning/cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "provisioning/cookbooks/chef_handler"]
	path = provisioning/cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
