*.pyc
*.pyo
*~
*.html.py
*.so
*.o
*.orig
*.log
*.tmp
*.md5
*.swp
.fseventsd
db
*.*.py
.\#*
\#*.*\#
.hg
.hgignore
.rvmrc
/tags
lighttpd.**
development.ini
development_*.ini
lesswrong.com*.ini
r2/r2/public/static/frame.js
r2/r2/public/static/reddit.js
r2/r2/public/static/vote.js
r2/r2/public/static/reddit_rtl.css
r2/r2/public/static/lesswrong.js
public/files/
r2/r2admin
r2/reddit_i18n
r2/build/
r2/dist/
r2/data/*
r2/count.pickle
r2/srcount.pickle
r2/myproduction.ini
.DS_Store
.fseventsd/*
r2/r2.egg-info/**
r2/lighttpd_access.log
r2/lighttpd_error.log
r2/paster.log
r2/paster.pid
memcached.*.pid
paster.*.pid
config/deploy/aws-test.rb
exporter/*
notes/*
attic/*
.dir-locals.el
.Trashes/*
.apdisk
spec/selenium-override.rb
