<%!
  from r2.models import Link, LinkTag
  from r2.lib.db.operators import desc, asc
%>

<%
article = thing.article
url = article.url

#these variables store information about the wikipage currently being scanned
foundLinkToThisArticle = 0
foundSequenceCategoryLink = 0
articleLinksFoundOnthisWikiPage = 0
indexOfThisArticle = 0
previousArticleLink = ""
theLastArticleLinkWeFoundWasTheCurrentArticle = 0
currentLinkForPreviousButton = ""
currentLinkForNextButton = ""
title = ""

#these variables are the final result of the scan
thisArticleIsInASequence = 0
finalIndexForThisArticle = 0
finalArticleCount = 0
finalLinkForPreviousButton = ""
finalLinkForNextButton = ""
finalSequenceWikipageTitle = ""

for line in open('../public/files/wiki.lesswrong.xml', 'r'):
  if '<title>' in line or '</title>' in line:
    #first finish processing the previous wiki page
    if foundLinkToThisArticle != 0 and foundSequenceCategoryLink != 0:
      thisArticleIsInASequence = 1
      finalIndexForThisArticle = indexOfThisArticle
      finalArticleCount = articleLinksFoundOnthisWikiPage
      finalLinkForPreviousButton = currentLinkForPreviousButton
      finalLinkForNextButton = currentLinkForNextButton
      finalSequenceWikipageTitle = title
      finalSequenceWikipageTitleWithUnderscores = finalSequenceWikipageTitle.replace(' ', '_');

    #now get the title of the next wiki page
    titleStartPos = line.find('<title>')
    titleEndPos = line.find('</title>')
    title = line[titleStartPos+len('<title>'):titleEndPos]

    #now reset the counter variables
    foundLinkToThisArticle = 0
    foundSequenceCategoryLink = 0
    articleLinksFoundOnthisWikiPage = 0
    indexOfThisArticle = 0;
    previousArticleLink = ""
    theLastArticleLinkWeFoundWasTheCurrentArticle = 0
    #f.write(title + "\n")

  if '[[Category:Sequences]]' in line:
    foundSequenceCategoryLink = 1

  line = line.decode('utf-8')

  if url in line:
    articleLinksFoundOnthisWikiPage = articleLinksFoundOnthisWikiPage + 1;
    foundLinkToThisArticle = 1
    theLastArticleLinkWeFoundWasTheCurrentArticle = 1
    currentLinkForPreviousButton = previousArticleLink
    indexOfThisArticle = articleLinksFoundOnthisWikiPage

  if 'http://lesswrong.com/lw/' in line:
    articleLinksFoundOnthisWikiPage = articleLinksFoundOnthisWikiPage + 1
    linkStartPos = line.find('[http://lesswrong')
    linkEndPos = line.find(' ', linkStartPos)
    linkWeAreLookingAtNow = line[linkStartPos+len('['):linkEndPos]
    if theLastArticleLinkWeFoundWasTheCurrentArticle != 0:
      currentLinkForNextButton = linkWeAreLookingAtNow
    previousArticleLink = linkWeAreLookingAtNow
    theLastArticleLinkWeFoundWasTheCurrentArticle = 0

#bug: the above code won't process the last wikipage in the XML file, because the processing for each page happens when the next title is detected
#I'm just leaving this bug in for now until the rest of the code is actually working

PrevLinkInPromoted = None
PrevLinkInAll      = None
PrevLinkInTop      = None
PrevLinkByAuthor   = None
PrevLinkByTag      = [] # this is bad code!  the separate arrays should be combined into an object!

NextLinkInPromoted = None
NextLinkInAll      = None
NextLinkInTop      = None
NextLinkByAuthor   = None
NextLinkByTag      = []

CurrentIndexInPromoted = 0
CurrentIndexInAll      = 0
CurrentIndexInTop      = 0
CurrentIndexByAuthor   = 0
CurrentIndexByTag      = []

TotalPostsInPromoted   = 0
TotalPostsInAll        = 0
TotalPostsInTop        = 0
TotalPostsByAuthor     = 0
TotalPostsByTag        = []

#get the previous post by author, sorted by date
q = Link._query(Link.c._date < article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.author_id==article.author_id, limit = 1, sort = desc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  PrevLinkByAuthor = link.url


#get the next post by author, sorted by date
q = Link._query(Link.c._date > article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.author_id==article.author_id, limit = 1, sort = asc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  NextLinkByAuthor = link.url


#get the previous post in Promoted, sorted by date
q = Link._query(Link.c._date < article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.blessed == True, limit = 1, sort = desc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  PrevLinkInAll = link.url


#get the next post in Promoted, sorted by date
q = Link._query(Link.c._date > article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.blessed == True, limit = 1, sort = asc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  NextLinkInAll = link.url


#get the previous post in All, sorted by date
q = Link._query(Link.c._date < article._date, Link.c._deleted == False, Link.c._spam == False, limit = 1, sort = desc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  PrevLinkInAll = link.url


#get the next post in All, sorted by date
q = Link._query(Link.c._date > article._date, Link.c._deleted == False, Link.c._spam == False, limit = 1, sort = asc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  NextLinkInAll = link.url


#get the previous post in Top, sorted by date
q = Link._query(Link.c._date < article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.top_link == True, limit = 1, sort = desc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  PrevLinkInTop = link.url


#get the next post in Top, sorted by date
q = Link._query(Link.c._date > article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.top_link == True, limit = 1, sort = asc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  NextLinkInTop = link.url

%>
<ul class="clear">


<li class="clear">
%if PrevLinkByAuthor:
  <a class="nav" href="${PrevLinkByAuthor}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexByAuthor} of ${TotalPostsByAuthor}</span> -->
  <span class="place">by author</span>
%if NextLinkByAuthor:
  <a class="nav" href="${NextLinkByAuthor}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
##<!--  <span class="type">by &nbsp; ${unsafe(self.author(friend = thing.friend))}</span> -->
  <span class="type">TODO add author</span>
</li>

%for sequence_name in article.get_sequence_names():
<%
  prev_link = article.prev_in_sequence(sequence_name)
  next_link = article.next_in_sequence(sequence_name)
%>
<li class="clear">
%if prev_link is None:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%else:
  <a class="nav" href="${prev_link}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%endif
<!--   <span class="place">post ${finalIndexForThisArticle} of ${finalArticleCount}</span> -->
  <span class="place">in sequence</span>
%if next_link is None:
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%else:
  <a class="nav" href="${next_link}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%endif
<!--  <span class="type">in &nbsp; '<a href="http://wiki.lesswrong.com/wiki/${finalSequenceWikipageTitleWithUnderscores}">${finalSequenceWikipageTitle}</a>' sequence</span> -->
  <span class="type"><a href="http://wiki.lesswrong.com/wiki/${sequence_name}">${sequence_name}</a></span>
</li>

%endfor

%if PrevLinkInPromoted or NextLinkInPromoted:
<li class="clear">
%if PrevLinkInPromoted:
  <a class="nav" href="${PrevLinkInPromoted}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexInPromoted} of ${TotalPostsInPromoted}</span> -->
  <span class="place"><a href="http://lesswrong.com/">Promoted Posts</a></span>
%if NextLinkInPromoted:
  <a class="nav" href="${NextLinkInPromoted}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
<!--  <span class="type">in &nbsp; <a href="http://lesswrong.com/">Promoted Posts</a></span> -->
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
</li>
%endif


%if PrevLinkInAll or NextLinkInAll:
<li class="clear">
%if PrevLinkInAll:
  <a class="nav" href="${PrevLinkInAll}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexInAll} of ${TotalPostsInAll}</span> -->
  <span class="place"><a href="http://lesswrong.com/new/">All Posts</a></span>
%if NextLinkInAll:
  <a class="nav" href="${NextLinkInAll}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
<!--  <span class="type">in &nbsp; <a href="http://lesswrong.com/new/">All Posts</a></span> -->
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
</li>
%endif


%if PrevLinkInTop or NextLinkInTop:
<li class="clear">
%if PrevLinkInTop:
  <a class="nav" href="${PrevLinkInTop}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexInTop} of ${TotalPostsInTop}</span> -->
  <span class="place"><a href="http://lesswrong.com/top/">Top Posts</a></span>
%if NextLinkInTop:
  <a class="nav" href="${NextLinkInTop}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
<!--  <span class="type">in &nbsp; <a href="http://lesswrong.com/top/">Top Posts</a></span> -->
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
</li>
%endif


%for tag in article.get_tags():
<%
  prev_link = article.prev_by_tag(tag)
  next_link = article.next_by_tag(tag)
%>
<li class="clear">
%if prev_link:
  <a class="nav" href="${prev_link.url}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
##  <span class="place">post ${CurrentIndexInTop} of ${TotalPostsInTop}</span>
  <span class="place">by tag</span>
%if next_link:
  <a class="nav" href="${next_link.url}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
## <span class="type">by tag &nbsp; <a href="http://lesswrong.com/tag/${TagNamesByTag[index]}">${TagNamesByTag[index]}</a></span>
  <span class="type"><a href="${tag.path}">${tag.name}</a></span>
</li>
%endfor

</ul>
