<%!
  from r2.models import Link, LinkTag
  from r2.lib.db.operators import desc, asc
%>

<%
#url = "http://lesswrong.local:8080/lw/2/why_truth_and/"
article = thing.article
url = article.url


#f = open('/home/robert/Desktop/LW/workfile', 'w')

#f.write("testing\n")

#f.write(url + "\n")

#these variables store information about the wikipage currently being scanned
foundLinkToThisArticle = 0
foundSequenceCategoryLink = 0
articleLinksFoundOnthisWikiPage = 0
indexOfThisArticle = 0
previousArticleLink = ""
theLastArticleLinkWeFoundWasTheCurrentArticle = 0
currentLinkForPreviousButton = ""
currentLinkForNextButton = ""
title = ""

#these variables are the final result of the scan
thisArticleIsInASequence = 0
finalIndexForThisArticle = 0
finalArticleCount = 0
finalLinkForPreviousButton = ""
finalLinkForNextButton = ""
finalSequenceWikipageTitle = ""

##import urllib2
##for line in urllib2.urlopen('http://wiki.lesswrong.com/wiki.lesswrong.xml'):
##for line in open('/home/robert/Desktop/LW/wiki.lesswrong.xml', 'r'):
##for line in urllib2.urlopen('http://acceleratingfuture.com/peer/LWcode/wiki.lesswrong.xml'):
for line in open('../public/files/wiki.lesswrong.xml', 'r'):
  if '<title>' in line or '</title>' in line:
    #first finish processing the previous wiki page
    if foundLinkToThisArticle != 0 and foundSequenceCategoryLink != 0:
      thisArticleIsInASequence = 1
      finalIndexForThisArticle = indexOfThisArticle
      finalArticleCount = articleLinksFoundOnthisWikiPage
      finalLinkForPreviousButton = currentLinkForPreviousButton
      finalLinkForNextButton = currentLinkForNextButton
      finalSequenceWikipageTitle = title
      finalSequenceWikipageTitleWithUnderscores = finalSequenceWikipageTitle.replace(' ', '_');

    #now get the title of the next wiki page
    titleStartPos = line.find('<title>')
    titleEndPos = line.find('</title>')
    title = line[titleStartPos+len('<title>'):titleEndPos]

    #now reset the counter variables
    foundLinkToThisArticle = 0
    foundSequenceCategoryLink = 0
    articleLinksFoundOnthisWikiPage = 0
    indexOfThisArticle = 0;
    previousArticleLink = ""
    theLastArticleLinkWeFoundWasTheCurrentArticle = 0
    #f.write(title + "\n")

  if '[[Category:Sequences]]' in line:
    foundSequenceCategoryLink = 1

  line = line.decode('utf-8')

  if url in line:
    articleLinksFoundOnthisWikiPage = articleLinksFoundOnthisWikiPage + 1;
    foundLinkToThisArticle = 1
    theLastArticleLinkWeFoundWasTheCurrentArticle = 1
    currentLinkForPreviousButton = previousArticleLink
    indexOfThisArticle = articleLinksFoundOnthisWikiPage
    #f.write(title + "\n")

  if 'http://lesswrong.com/lw/' in line:
    articleLinksFoundOnthisWikiPage = articleLinksFoundOnthisWikiPage + 1
    linkStartPos = line.find('[http://lesswrong')
    linkEndPos = line.find(' ', linkStartPos)
    linkWeAreLookingAtNow = line[linkStartPos+len('['):linkEndPos]
    if theLastArticleLinkWeFoundWasTheCurrentArticle != 0:
      currentLinkForNextButton = linkWeAreLookingAtNow
    previousArticleLink = linkWeAreLookingAtNow
    theLastArticleLinkWeFoundWasTheCurrentArticle = 0
    #f.write(linkWeAreLookingAtNow + "\n")


#bug: the above code won't process the last wikipage in the XML file, because the processing for each page happens when the next title is detected
#I'm just leaving this bug in for now until the rest of the code is actually working

#f.close()


PrevLinkInPromoted = None
PrevLinkInAll      = None
PrevLinkInTop      = None
PrevLinkByAuthor   = None
PrevLinkByTag      = [] # this is bad code!  the separate arrays should be combined into an object!

NextLinkInPromoted = None
NextLinkInAll      = None
NextLinkInTop      = None
NextLinkByAuthor   = None
NextLinkByTag      = []

CurrentIndexInPromoted = 0
CurrentIndexInAll      = 0
CurrentIndexInTop      = 0
CurrentIndexByAuthor   = 0
CurrentIndexByTag      = []

TotalPostsInPromoted   = 0
TotalPostsInAll        = 0
TotalPostsInTop        = 0
TotalPostsByAuthor     = 0
TotalPostsByTag        = []

# this is a really stupid and dangerous hack.
# PrevLinkByTag, NextLinkByTag, and TagNamesByTag should be combined into an object.
# then having a separate array to store the valid indexes would be unnecessary
TagNamesByTag          = []
IndexesByTag           = []
nextIndexByTag         = 0

##q = Link._query(Link.c._id < l._id, Link.c._deleted == False, Link.c._spam == False, Link.c.blessed == True, limit = 1, sort = desc('_id'), data = True)
##q = Link._query(Link.c._id < thing._id, Link.c._deleted == False, Link.c._spam == False, Link.c.blessed == True, limit = 1, sort = desc('_id'), data = True)

#get the previous post by author, sorted by date
q = Link._query(Link.c._date < article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.author_id==article.author_id, limit = 1, sort = desc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  PrevLinkByAuthor = link.url


#get the next post by author, sorted by date
q = Link._query(Link.c._date > article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.author_id==article.author_id, limit = 1, sort = asc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  NextLinkByAuthor = link.url


#get the previous post in Promoted, sorted by date
q = Link._query(Link.c._date < article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.blessed == True, limit = 1, sort = desc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  PrevLinkInAll = link.url


#get the next post in Promoted, sorted by date
q = Link._query(Link.c._date > article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.blessed == True, limit = 1, sort = asc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  NextLinkInAll = link.url


#get the previous post in All, sorted by date
q = Link._query(Link.c._date < article._date, Link.c._deleted == False, Link.c._spam == False, limit = 1, sort = desc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  PrevLinkInAll = link.url


#get the next post in All, sorted by date
q = Link._query(Link.c._date > article._date, Link.c._deleted == False, Link.c._spam == False, limit = 1, sort = asc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  NextLinkInAll = link.url


#get the previous post in Top, sorted by date
q = Link._query(Link.c._date < article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.top_link == True, limit = 1, sort = desc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  PrevLinkInTop = link.url


#get the next post in Top, sorted by date
q = Link._query(Link.c._date > article._date, Link.c._deleted == False, Link.c._spam == False, Link.c.top_link == True, limit = 1, sort = asc('_date'), data = True)

link = None
results = list(q)
if results:
  link = results[0]

if link:
  NextLinkInTop = link.url

tags = article.get_tags()

#debugValue = None

for tag in tags:
  #debugValue = tag.name

  #get the previous post by tag, sorted by date
  q = LinkTag._query(LinkTag.c._thing2_id == tag._id,
                     LinkTag.c._name == 'tag',
                     LinkTag.c._t1_deleted == False,
                     LinkTag.c._t1_spam == False,
                     LinkTag.c._t1_date < article._date,
                     limit = 1,
                     sort = desc('_t1_date'),
                     eager_load = True,
                     thing_data = True)

  link = None
  results = list(q)

  if results:
    link = results[0]

  if link:
    PrevLinkByTag.append(link._thing1.url)
  else:
    PrevLinkByTag.append(None)


  #get the next post by tag, sorted by date
  q = LinkTag._query(LinkTag.c._thing2_id == tag._id,
                     LinkTag.c._name == 'tag',
                     LinkTag.c._t1_deleted == False,
                     LinkTag.c._t1_spam == False,
                     LinkTag.c._t1_date > article._date,
                     limit = 1,
                     sort = asc('_t1_date'),
                     eager_load = True,
                     thing_data = True)

  link = None
  results = list(q)

  if results:
    link = results[0]

  if link:
    NextLinkByTag.append(link._thing1.url)
  else:
    NextLinkByTag.append(None)

  TagNamesByTag.append(tag.name)

  IndexesByTag.append(nextIndexByTag);

  nextIndexByTag = nextIndexByTag + 1
%>
<ul class="clear">


<li class="clear">
%if PrevLinkByAuthor:
  <a class="nav" href="${PrevLinkByAuthor}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexByAuthor} of ${TotalPostsByAuthor}</span> -->
  <span class="place">by author</span>
%if NextLinkByAuthor:
  <a class="nav" href="${NextLinkByAuthor}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
##<!--  <span class="type">by &nbsp; ${unsafe(self.author(friend = thing.friend))}</span> -->
  <span class="type">TODO add author</span>
</li>

%if thisArticleIsInASequence == 1:

<li class="clear">
%if finalLinkForPreviousButton:
  <a class="nav" href="${finalLinkForPreviousButton}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${finalIndexForThisArticle} of ${finalArticleCount}</span> -->
  <span class="place">in sequence</span>
%if finalLinkForNextButton:
  <a class="nav" href="${finalLinkForNextButton}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
<!--  <span class="type">in &nbsp; '<a href="http://wiki.lesswrong.com/wiki/${finalSequenceWikipageTitleWithUnderscores}">${finalSequenceWikipageTitle}</a>' sequence</span> -->
  <span class="type"><a href="http://wiki.lesswrong.com/wiki/${finalSequenceWikipageTitleWithUnderscores}">${finalSequenceWikipageTitle}</a></span>
</li>

%endif

%if PrevLinkInPromoted or NextLinkInPromoted:
<li class="clear">
%if PrevLinkInPromoted:
  <a class="nav" href="${PrevLinkInPromoted}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexInPromoted} of ${TotalPostsInPromoted}</span> -->
  <span class="place"><a href="http://lesswrong.com/">Promoted Posts</a></span>
%if NextLinkInPromoted:
  <a class="nav" href="${NextLinkInPromoted}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
<!--  <span class="type">in &nbsp; <a href="http://lesswrong.com/">Promoted Posts</a></span> -->
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
</li>
%endif


%if PrevLinkInAll or NextLinkInAll:
<li class="clear">
%if PrevLinkInAll:
  <a class="nav" href="${PrevLinkInAll}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexInAll} of ${TotalPostsInAll}</span> -->
  <span class="place"><a href="http://lesswrong.com/new/">All Posts</a></span>
%if NextLinkInAll:
  <a class="nav" href="${NextLinkInAll}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
<!--  <span class="type">in &nbsp; <a href="http://lesswrong.com/new/">All Posts</a></span> -->
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
</li>
%endif


%if PrevLinkInTop or NextLinkInTop:
<li class="clear">
%if PrevLinkInTop:
  <a class="nav" href="${PrevLinkInTop}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexInTop} of ${TotalPostsInTop}</span> -->
  <span class="place"><a href="http://lesswrong.com/top/">Top Posts</a></span>
%if NextLinkInTop:
  <a class="nav" href="${NextLinkInTop}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
<!--  <span class="type">in &nbsp; <a href="http://lesswrong.com/top/">Top Posts</a></span> -->
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
</li>
%endif


%for index in IndexesByTag:
<li class="clear">
%if PrevLinkByTag[index]:
  <a class="nav" href="${PrevLinkByTag[index]}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
<!--   <span class="place">post ${CurrentIndexInTop} of ${TotalPostsInTop}</span> -->
  <span class="place">by tag</span>
%if NextLinkByTag[index]:
  <a class="nav" href="${NextLinkByTag[index]}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
<!--  <span class="type">by tag &nbsp; <a href="http://lesswrong.com/tag/${TagNamesByTag[index]}">${TagNamesByTag[index]}</a></span> -->
  <span class="type"><a href="http://lesswrong.com/tag/${TagNamesByTag[index]}">${TagNamesByTag[index]}</a></span>
</li>
%endfor

</ul>
