## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%!
   from r2.lib.filters import edit_comment_filter, unsafe, safemarkdown, clean_comment_html, unsafe_wrap_md, format_linebreaks
   from r2.lib.utils import to36, prettytime, epochtime
%>
<%inherit file="comment_skeleton.html"/>

#####################
### specific fill-in functions for comment
##################

<%def name="midcol(display=True)">
${parent.midcol(not thing.collapsed)}
</%def>

<%def name="ParentDiv()">
  ${parent.ParentDiv()}
  <a name="${thing._id36}" ></a>
  %if c.profilepage or c.full_comment_listing:
    %if thing.link:
      %if thing.link.title:
        ${_('In response to')}&#32;
        %if thing.parent_permalink and thing.parent_author:
          ${bylink_button("parent", _("comment"), thing.parent_permalink)}&#32;
          by&#32;${unsafe(self.author(friend = thing.friend, gray = collapse, parent = True))}&#32;
          on&#32;
        %endif
        <a href="${thing.link.url}" class="title">
          ${thing.link.title}
        </a>
      %else:
          ${thing.link.url}
      %endif
    %endif
  %endif
</%def>

<%def name="collapsed()">
${parent.collapsed()}
</%def>

<%def name="tagline(collapse=False)">
<% fullname = thing._fullname %>
  %if not thing.deleted:
    <span class="comment-author">
      <strong>${unsafe(self.author(friend=thing.friend, gray = collapse))}</strong>
    </span>
  %else:
     <em>${_("Comment deleted")}</em>&#32;
  %endif
  %if collapse and thing.collapsed and not thing.deleted:
    ${_("comment score below threshold")}
  %else:
    ##${thing.timesince} ${_("ago")}
    <span class="comment-date" time="${epochtime(thing._date)}">
      ${prettytime(thing._date, seconds = True)}
      %if thing.editted:
        <em>*</em>&nbsp;
      %endif
    </span>
    %if not thing.deleted:
       ${unsafe(self.score(thing, likes = thing.likes, _id = not collapse))}&#32;
    %endif
  %endif
  <a href="#" class="expand"
     %if collapse:
       onclick="return showcomment('${fullname}')">
     %else:
       onclick="return hidecomment('${fullname}')">
     %endif
     [${_("+") if collapse else _("-")}]
  %if collapse:
     (${thing.num_children}
      ${ungettext("child", "children", thing.num_children)})
  %endif
</a>

</%def>

<%def name="Child()">
${parent.Child(not thing.collapsed)}
</%def>

<%def name="commentBody()">
%if not thing.deleted:
  %if thing.is_html:
    ${unsafe_wrap_md(clean_comment_html(format_linebreaks(thing.body)))}
  %else:
    ${unsafe(safemarkdown(thing.body))}
  %endif
%endif
</%def>

<%def name="commentText()">
%if c.user == thing.author:
${edit_comment_filter(thing.body)}
%endif
</%def>

<%def name="arrows()">
${parent.midcol()}
</%def>

<%def name="midcol()">
</%def>

<%def name="buttons(parent_link = False)">
  %if not thing.deleted:
      %if thing.votable and (not c.profilepage):
        <ul class="votes">
          <li class="up">${self.arrow(thing, 1, thing.likes)}</li>
          <li class="down">${self.arrow(thing, 0, thing.likes == False)}</li>
        </ul>
      %endif
      <% fullname = thing._fullname %>
      <ul>
        %if not c.profilepage and thing.can_reply:
          %if thing.parent_permalink and parent_link:
            <li class="parent">
              ${bylink_button("parent", _("Parent"), thing.parent_permalink, tool_tip=_("Parent"))}
            </li>
          %endif
          <li class="reply">
            ${parent.simple_button("reply", fullname, _("Reply"), "reply", tool_tip=_("Reply"))}
          </li>
        %endif
        <li class="permalink">
          ${parent.comment_button("permalink", fullname, _("Permalink"), 0, thing.permalink, title=_("Permalink"))}
        </li>
        %if not c.profilepage:
          %if c.user_is_loggedin and thing.author.name == c.user.name:
            <li class='edit'>
              ${parent.simple_button("edit", fullname, _("Edit"), "editcomment", tool_tip=_("Edit"))}
            </li>
          %endif
        %endif
        <% allow_delete = thing.can_be_deleted %>
        ${parent.delete_or_report_buttons(allow_delete,False,True)}
        ${parent.buttons()}
      </ul>
    ## Each comment has a hidden status span that is used to indicate voting errors.
    <span id='${"status_"+thing._fullname}' class="error" style="display: none;"></span>
  %endif
  ${self.admintagline()}
</%def>


<%def name="bylink_button(name, title, link, tool_tip=None)">
 <a id="${name}_${thing._fullname}" href="${link}" class="bylink"
    ${ "title='%s'"%(_(tool_tip)) if tool_tip else "" }
   >${title}</a>
</%def>

