## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%!
   from r2.lib.template_helpers import get_domain, static
%>

<%namespace file="utils.html" import="error_field"/>
%if not thing.link_name:
<div id="samplecomment_" style="display:none">
%else:
<div class="realcomment">
%endif
  <form id="commentform_${thing.link_name}" 
        onsubmit="return chkcomment(this);"
        action="/post/${thing.action}" method="post" class="commentreply">
    %if thing.link_name:
    <input id="isroot_${thing.link_name}"
           type="hidden" name="isroot" value="1" />
    %endif
    <input id="replace_${thing.link_name}"
           type="hidden" name="replace" value="" />
    ${error_field("BAD_COMMENT_" + thing.link_name)}
    ${error_field("COMMENT_TOO_LONG_" + thing.link_name)}
    ${error_field("RATELIMIT_" + thing.link_name)}
    ## I know we don't need this div.  You know we don't need this div.  IE
    ## begs to differ.
    <div>
      <textarea id="comment_reply_${thing.link_name}" name="comment" 
                rows="2" onfocus="clearTitle(this);" >
      </textarea>
    </div>
    <div class="buttons">
      <button id="comment_submit_${thing.link_name}" 
              type="submit" class="btn">${_("comment {verb}")}
      </button>
      <button id="comment_edit_${thing.link_name}" style="display:none;" 
              type="submit" class="btn">${_( "edit")}</button>
      %if not thing.link_name:
      <button id="cancel_" class="btn"
              onclick="cancelReply(this);return false">
        ${_("Close")}</button>
      %endif
      <span id='status_${thing.link_name}' class='error'></span>
    </div>
    <span class="loading"><img src="${static('ajax-loader.gif')}" alt="" /></span>
    <div id="marktoggle_${thing.link_name}" 
         class="help-toggle">
      <button id="marklink_${thing.link_name}" class="btn"
         onclick='return helpon(this, "markhelp_", "${_('Hide help')}");'>
        ${_("Show help")}
      </button>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
      var form = $("commentform_${thing.link_name}");
      if(form) {
        setMessage(form.comment_reply_${thing.link_name},
                     "${_('Enter a comment here')}")
      }
    </script>

  </form>

  <div id="markhelp_${thing.link_name}" class="wiki-comment-help commentreply" style="display: none">
    Loading...
  </div>
</div>

