<div class="dashtable">
<table>
  <colgroup >
    <col width="50%">
    <col width="50%">
  </colgroup>
<tr>
<td style="vertical-align:top">${thing.subscribed.render()}</td>
<td style="vertical-align:top">${thing.link.render()}</td>
</tr>
<tr>
<td style="vertical-align:top">${thing.comment.render()}</td>
<td style="vertical-align:top">${thing.recentcomments.render()}</td>
</tr>
<tr>
<td style="vertical-align:top"><div class="simpledash">${thing.blogfeed.render()}</div></td>
<td style="vertical-align:top"><div class="simpledash">${thing.meetups.render()}</div></td>
</tr>
<tr>
<td style="vertical-align:top"><div class="simpledash">${thing.wikiedits.render()}</div></td>
<td></td>
</tr>
</table>
</div>
