<%
   from r2.lib.template_helpers import static, add_sr, join_urls
   container_id = thing.feed_url 
   title_id = "%s_title" % container_id
%>
<div class="sidebox">
  <h2 id="${title_id}"></h2>
  <ul id="${container_id}"></ul>
  <script type="text/javascript">
    function initialize() {
      var feed = new google.feeds.Feed("${thing.feed_url}");
      feed.setNumEntries(5);
      feed.load(function(result) {
        if (!result.error) {
          var title = document.getElementById("${title_id}");
          if(title) {
            title.innerHTML = result.feed.title;
          }
          var container = document.getElementById("${container_id}");
          for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];
            var li = document.createElement("li");
            var link = document.createElement("a");
            link.setAttribute('href', entry.link);
            link.appendChild(document.createTextNode(entry.title));
            li.appendChild(link);
            container.appendChild(li);
          }
        }
      });
    }
    google.setOnLoadCallback(initialize);
  </script>
</div>
