<%!
   from r2.lib.template_helpers import static, add_sr, join_urls
%>
<div id="side-feed" class="sidebox">
  <div class="feed-icon">
    <a href="${add_sr(join_urls(request.path,'.rss'))}">
      <img src="${static('feed.png')}" alt="Feed icon" />
    </a>
  </div>
  <a href="${add_sr(join_urls(request.path,'.rss'))}">RSS feed for this page</a>&nbsp;
  <p style="clear:both"></p>
    <a href="http://www.meetup.com/Less-Wrong/" target="_blank">
      <img src="${static('MeetUp.png')}" alt="LW icon" />
    </a>
  <a href="http://www.meetup.com/Less-Wrong/" target="_blank">Less Wrong Meetups</a>
  
</div>
