<%!
   from pylons.i18n import _, ungettext
   from r2.lib.filters import safemarkdown
   from r2.lib.template_helpers import get_domain
%>
  
  ${unsafe(safemarkdown(thing.body))}
  <span class='tagline'>
    by&#32;<a href="http://${get_domain(cname=True, subreddit=False)}/user/${thing.author.name}">
    <strong>${thing.author.name}</strong></a>&#32;
    on&#32;
    <a href="${thing.make_permalink_slow()}">${thing.link.title}</a>&#32;|&#32;
    <span id="score_${thing._fullname}">${thing.score}&#32;</span>
  </span>
  