## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%namespace file="utils.html" import="error_field, submit_form, plain_link, text_with_links"/>
<%namespace file="printable.html" import="yes_no_button"/>

%if thing.subreddits:
  <h1>${_("Submit article")}</h1>
%else:
  <h1>${_("Submit article to %(site)s") % dict(site=c.site.name)}</h1>
%endif

## Exists to be overidden by child templates
<%def name="form_extra()"></%def>

<%call expr="submit_form(onsubmit='tinyMCE.get(\'article\').save(); return post_form(this, \'submit\', linkstatus, null, true)',
             action='/submit', _class='long-text content', _id='newlink')">
  %if not thing.subreddits:
    <input type="hidden" name="sr" value="${c.site.name}" />
  %endif
  ${self.form_extra()}
  <table>
    <tr>
      <td>
      <label for="title">${_("Title")}:</label>
      <input id="title" name="title" value="${thing.title}"
                 onfocus="clearTitle(this)" type="text" />
        ${error_field("NO_TITLE", "span")}
        ${error_field("TITLE_TOO_LONG", "span")}
      </td>
    </tr>
    <tr>
      <td><textarea id="article" name="article" rows="35">${thing.article}</textarea></td>
    </tr>
    %if thing.subreddits:
      <tr>
        <td>
        <label for="sr">${_("Post to")}</label>
          <select id="sr" name="sr">
            %for sr in thing.subreddits:
              <option value="${sr.name}" ${unsafe('selected="selected"' if sr._id == thing.sr_id else '')}>${sr.title}</option>
            %endfor
          </select>
        </td>
      </tr>
    %endif
    %if thing.captcha:
      ${thing.captcha.render()}
    %endif
    <tr>
      <td>
        <button class="btn" type="submit">${_("submit")}</button>
        <button class="btn" type="submit"
          onclick="javascript:this.value='on'"
          name="continue">${_("save and continue")}</button>
        <span id="status" class="error"></span>
        ${error_field("RATELIMIT", "span")}
      </td>
    </tr>
  </table>

  <script type="text/javascript">
    var form = $('newlink');
    if(form) {
      setMessage(form.title,
                 "${_('enter a title for the article.')}")
    }
  </script>
</%call>
