## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%!
   from r2.lib.template_helpers import static, get_domain, json
   import os
%>
<%namespace file="utils.html" import="error_field, submit_form, plain_link, text_with_links, checkbox"/>
<%namespace file="printable.html" import="yes_no_button"/>

%if thing.tabs.has_tab('article-field-pane'):
  <script src="${static(os.path.join('tiny_mce','tiny_mce.js'))}" type="text/javascript"></script>
  <script src="${static('tinymce.js')}" type="text/javascript"></script>
%endif

## Exists to be overidden by child templates
<%def name="form_extra()"></%def>

<%def name="active_class(pane_id)">
  %if thing.tabs.is_selected(pane_id):
    active
  %endif
</%def>

<%def name="disabled_input(pane_id)">
  %if not thing.tabs.is_selected(pane_id):
    disabled
  %endif
</%def>

<%call expr="submit_form(action='/submit', _class='long-text content', _id='newlink')">
  %if not thing.subreddits:
    <input type="hidden" name="sr" value="${c.site.name}" />
  %endif
  ${self.form_extra()}
	%if thing.subreddits:
    %if thing.editing:
      <h1>${_("Edit post")}</h1>
    %else:
	   <h1>${_("Submit post")}</h1>
    %endif
	%else:
    %if thing.editing:
      <h1>${_("Edit post on %(site)s") % dict(site=c.site.name)}</h1>
    %else:
      <h1>${_("Submit post to %(site)s") % dict(site=c.site.name)}</h1>
    %endif
	%endif

  ${thing.tabs.render()}

	<table>
    %if thing.tabs.has_tab('link-field-pane'):
      %if thing.editing == False:
        <tr class="tab-pane ${active_class('link-field-pane')}" id="link-field-pane">
          <input name="kind" value="link" ${disabled_input('link-field-pane')} type="hidden"/>
          <td>
            <label for="url">${_("Url")}:</label>
            <input id="url"
                   name="url"
                   onfocus="clearTitle(this)"
                   ${disabled_input('link-field-pane')}
                   type="text"
            />
            ${error_field("NO_URL", "span")}
            ${error_field("BAD_URL", "span")}
            ${error_field("ALREADY_SUB", "span")}
          </td>
        </tr>
      %else:
        <input name="kind" value="link" ${disabled_input('link-field-pane')} type="hidden"/>
      %endif
    %endif
      <tr>
        <td>
          <label for="title">${_("Title")}:</label>
          <input id="title"
                 name="title"
                 value="${thing.title}"
                 onfocus="clearTitle(this)"
                 type="text"
          />
            ${error_field("NO_TITLE", "span")}
            ${error_field("TITLE_TOO_LONG", "span")}
        </td>
      </tr>
    %if thing.tabs.has_tab('article-field-pane'):
      <tr class="tab-pane ${active_class('article-field-pane')}" id="article-field-pane">
        <td>
          <input name="kind" value="self" type="hidden" ${disabled_input('article-field-pane')} />
          <textarea id="article" name="article" ${disabled_input('article-field-pane')} rows="35">${thing.article}</textarea>
        </td>
      </tr>
    %endif
    <tr>
      <td>
        <label for="tags">${_("Tags:")}</label>
        <input id="tags" name="tags" value="${', '.join(thing.tags)}"
                   onfocus="clearTitle(this)" type="text" />
        <span class="gray">${_('Enter tags separated by commas or spaces.')}</span>
      </td>
    </tr>
    %if thing.subreddits:
      <tr>
        <td>
          <label for="sr">${_("Post to")}</label>
          <select id="sr" name="sr">
            %for sr in thing.subreddits:
              <option value="${sr.name}"
                      %if not sr.can_submit(c.user, thing):
                        disabled="disabled"
                      %elif sr._id == thing.sr_id:
                        selected="selected"
                      %endif
              >${sr.title} ${_('(Posting to main is currently disabled)') if not sr.can_submit(c.user, thing) else ''}
              </option>
            %endfor
          </select>
        </td>
      </tr>
    %endif
    <tr>
      <td>
        ${checkbox("notify_on_comment", _("Notify me of new top level comments on this article"), thing.notify_on_comment)}
      </td>
    </tr>
    <tr>
      <td class="helper">
        ${checkbox("cc_licensed", _("Make this post available under the "), thing.cc_licensed)}
        <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License</a>. Allows the creation of derived work, such as Castify podcasts.
      </td>
    </tr>
    %if thing.captcha:
      <tr>
        <td>
          ${thing.captcha.render()}
        </td>
      </tr>
    %endif
    <tr>
      <td>
        <input type="hidden" id="keep_editing" name="keep_editing" value="off" />
        <button class="btn" type="submit">${_("Submit")}</button>
        <button class="btn" type="submit"
          onclick="continueEditing(true)">${_("Save and continue")}</button>
        <span id="status" class="error"></span>
        ${error_field("RATELIMIT", "span")}
        ${error_field("SUBREDDIT_FORBIDDEN", "span")}
      </td>
    </tr>
  </table>

  <script type="text/javascript">
    (function () {
      %if thing.tabs.has_tab('article-field-pane'):
        init_tinymce("http://${get_domain(subreddit=False)}/");
      %endif

      var form = $('newlink');
      if(form) {
        setMessage(form.title, ${json(_('Enter a title for the article.'))});
        setMessage(form.tags, ${json(_('Enter tags separated by commas or spaces.'))});

        form.title.setAttribute("data-orig-value", form.title.value);
        form.tags.setAttribute("data-orig-value", form.tags.value);

        %if thing.tabs.has_tab('article-field-pane'):
          form.article.setAttribute("data-orig-value", form.article.value);
        %endif

        function unsavedPrompt() {
          var message = "You've made changes to the article, but haven't submitted it.";

          if ((form.title.value && form.title.value !== form.title.getAttribute("data-orig-value")) ||
              (form.tags.value && form.tags.value !== form.tags.getAttribute("data-orig-value")))
            return message;

          %if thing.tabs.has_tab('article-field-pane'):
            // Ensure that TinyMCE has saved the content back to the textarea
            // before checking its content
            var editor = tinyMCE.activeEditor;
            if (editor && editor.isDirty()) {
              editor.save();
            }

            // The editor sometimes inserts or modifies extraneous HTML tags, which
            // we need to ignore to prevent false positives
            var articleText = stripHTMLTagsDangerously(form.article.value);
            if (articleText && articleText !== stripHTMLTagsDangerously(form.article.getAttribute("data-orig-value")))
              return message;
          %endif
        }

        BeforeUnload.bind(unsavedPrompt);

        jQuery(form).bind("submit", function () {
          %if thing.tabs.has_tab('article-field-pane'):
            tinyMCE.get("article").save();
          %endif

          function prehandle(res_obj) {
            if (res_obj && !res_obj.error)
              BeforeUnload.unbind(unsavedPrompt);
          }
          return post_form(this, "submit", linkstatus, null, true, null, {prehandle_func: prehandle});
        });
      }
    })();
  </script>
</%call>
