<%!
  from r2.lib.template_helpers import static
  from r2.lib.utils import usformat
  from routes.util import url_for
%>
<%namespace name="utils" file="utils.html" import="error_field, submit_form"/>

<%utils:submit_form action="/meetups/create" onsubmit="return post_form(this, 'meetups/create', null, null, true, '/')" _id="newmeetup" _class="meetup" tzoffset="${thing.tzoffset}" latitude="${thing.latitude}" longitude="${thing.longitude}">
  <h1>New Meetup</h1>
  ${form_fields()}
</%utils:submit_form>

<script src="${static('meetups.js')}" type="text/javascript" charset="utf-8"></script>

<%def name="form_fields()">
  <fieldset>
    <label for="title">${_("Title")}:</label>
    <input id="title" name="title" value="${thing.title}" onfocus="clearTitle(this)" type="text" />
    ${error_field("NO_TITLE", "span")}
    ${error_field("TITLE_TOO_LONG", "span")}
  </fieldset>

  <fieldset>
    <label for="location">${_("Location")}:</label>
    <input id="location" name="location" value="${thing.location}" type="text" />
    ${error_field("NO_LOCATION", "p", cls="form-info-line")}
  </fieldset>

  <fieldset>
    <label for="description">${_("Description")}:</label>
    <textarea id="description" name="description" rows="5" cols="35">
      ${thing.description}
    </textarea>
    ${error_field("NO_DESCRIPTION", "span")}
  </fieldset>

  <fieldset>
    <label for="date">${_("Date")}:</label>
    <input id="date" class="date" name="timestamp" value="${thing.timestamp}" type="text" />
    ${error_field("NO_DATE", "span")}
    ${error_field("INVALID_DATE", "span")}
  </fieldset>

  <fieldset>
    <label for="recurring">${_("Recurs")}</label>
    <select id="recurring" name="recurring">
      <option value="never">Never</option>
      <option value="weekly">Weekly</option>
      <option value="biweekly">Biweekly</option>
      <option value="monthly">Monthly</option>
    </select> 
  </fieldset>

  <button class="btn" type="submit">${_("Submit Meetup")}</button>
  <span id="status" class="error"></span>
</%def>
