## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%! from r2.lib.template_helpers import static %>

<%namespace file="utils.html" import="plain_link, img_link"/>
<% user = thing.user %>
%if thing.user:
<div id="side-user" class="sidebox">
  <div id="side-status" class="clear">
    <h2><a href="/user/${thing.user.name}">${thing.user.name}</a></h2>
    %if thing.buttons:
      ${thing.buttons.render()}
    %endif
    %if c.user_is_loggedin and not thing.isMe:
      <ul class="userlinks">
        <li>
          ${plain_link(_("Send message"), "/message/compose/?to=%s" % thing.user.name)}
        </li>
        <li>
          <form action="/post/friend" method="post">
            <input type="hidden" name="type" value="friend"/>
            <input type="hidden" name="name" value="${thing.user.name}"/>
            <input type="hidden" name="container" value="${c.user._fullname}" />
            %if thing.isFriend:
              <input type="hidden" name="action" value="remove"/>
              <input type="hidden" name="toggled_action" value="add"/>
              <input type="hidden" name="toggled_label" value="${_('Add to friends')}"/>
              <a onclick="return toggle_setting(this, 'friend');" href="#">${_("Remove from friends")}</a>
            %else:
              <input type="hidden" name="toggled_action" value="remove"/>
              <input type="hidden" name="action" value="add"/>
              <input type="hidden" name="toggled_label"  value="${_('Remove from friends')}"/>
              <a onclick="return toggle_setting(this, 'friend')" href="#">${_("Add to friends")}</a>
            %endif
          </form>
        </li>
      </ul>
    %endif
    <div class="userinfo editor">
      <span class="label">Karma Score</span>
      <span class="score" title="Total Karma">${thing.user.safe_karma}</span>
      <span class="monthly-score" title="Karma for the last 30 days">${thing.user.monthly_karma}</span>
      %if thing.user.name in g.admins:
        <span class="role">Editor</span>
      %endif

      %if thing.isMe:
        <%
          mail_img ="mail"
          if c.have_messages:
            mail_img += ".png"
          else:
            mail_img += "gray.png"
          mail_img = static(mail_img)
        %>
        <span class="mail">
          ${img_link(_("messages"), mail_img, path="/message/inbox/", _id="mail")}
        </span>
      %endif

    </div>

    <dl class="extrainfo">
      %if thing.user.pref_location:
        <dt>Location</dt>
        <dd>${thing.user.pref_location}</dd>
      %endif
      %if thing.user.pref_url:
        <dt>Website</dt>
        <dd><a href="${thing.user.pref_url}" rel="nofollow">${thing.user.pref_url}</a></dd>
      %endif
    </dl>

  </div>
</div><!-- #side-user -->
%endif
