## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%!
   from r2.lib.template_helpers import get_domain, static, UrlParser
   from r2.lib.strings import strings
   from r2.lib import tracking
   from pylons import g
   import random, datetime
%>
<%namespace file="login.html" import="login_panel"/>
<%namespace file="utils.html" import="text_with_links, plain_link"/>

<div class="footer clear">
  <div class="reddit">
    Powered by&nbsp;<strong>Reddit</strong>
    <a href="http://code.reddit.com" title="Powered by Reddit"><img alt="Powered by Reddit" src="${static('reddit_logo.png')}" /></a>
  </div>
  <ul class="footer-links">
    <li>${plain_link(_('About Less Wrong'), '/about', _sr_path=False)}</li>
    <li><a href="http://wiki.github.com/tricycle/lesswrong/issues-bugs-and-requested-features">Report Issues</a></li>
  </ul>
 %if g.tracker_url:
  <img alt="" src="${tracking.UserInfo.gen_url()}"/>
 %endif
 %if c.frameless_cname and not c.authorized_cname:
 <%
    u = UrlParser("http://%s/%s" % (get_domain(cname = True, subreddit = False), request.path))
    u.update_query(**request.get)
    u.update_query(login = random.random())
  %>
  <script type="text/javascript">
    function replace_self(url, child) {
       if(child != window) {
          createCookie("redditSession", "true");
          if(readCookie("redditSession")) {
              window.location = "${u.unparse()}";
          }
       }
    };
  </script>
  <iframe name="reddit-window" id="reddit-window"
          src="http://${get_domain(False)}/framebuster?v=${random.random()}"
          width="1" height="1" style="visibility: hidden">
  </iframe>
 %endif
</div>

%if not c.user_is_loggedin:
<div id="cover" style="display:none" class="cover"
       onclick="hidecover('cover', 'loginpopup')">
  </div>
  <div id="loginpopup" style="display: none" class="popup">
    <h1 id="cover_msg">${strings.cover_msg}</h1>
    <h2 id="cover_disclaim">${strings.cover_disclaim}</h2>
    ${login_panel()}
    <div style="text-align:center">
      <a href="javascript:hidecover('cover','loginpopup')">
        ${_("Close this window")}
      </a>
    </div>
  </div>

  <div id="langcover" style="display:none" class="cover"
       onclick="hidecover('langcover', 'langpopup')">
  </div>
  <div id="langpopup" style="display: none" class="popup">
    <%include file="prefoptions.html" />
    <div style="text-align:center">
      <a href="javascript:hidecover('langcover','langpopup')">
        ${_("Close this window")}
      </a>
    </div>
  </div>
%endif

%if not getattr(g, 'disable_tracking_js', False):
        <script type="text/javascript">
          var vglnk = { api_url: '//api.viglink.com/api',
                        key: '9f37ca02a1e3cbd4f3d0a3618a39fbca' };

          (function(d, t) {
            var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
            s.src = vglnk.api_url + '/vglnk.js?key=' + vglnk.key;
            var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
          }(document, 'script'));
        </script>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-5818093-2");
        pageTracker._trackPageview();
        } catch(err) {}</script>
%endif
