<div class="poll-results">
  <table>
    %for ii in range(thing.poll.scalesize):
      <tr>
        <td align="right">
          %if ii == 0:
            ${thing.poll.leftlabel}
          %elif ii == thing.poll.scalesize - 1:
            ${thing.poll.rightlabel}
          %else:
            &bull;
          %endif
        </td>
        <td><span class="scalepoll_numvotes">${thing.poll.num_votes_for(ii)}</span></td>
        <td width="300"><div class="pollbar" style="width: ${thing.poll.bar_length(ii, 300)}pt">&nbsp;</div></td>
      </tr>
    %endfor
  </table>
</div>

