<%!
  from routes.util import url_for
  from r2.lib.filters import safemarkdown
  from r2.lib.utils import prettytime
%>
<h1>
  <a href="${url_for('meetup', id=thing.meetup._id)}">${thing.meetup.title}</a>
</h1>
<div class="meta clear">
##  ${unsafe(self.author(friend = thing.friend))}
  <span class="date">${prettytime(thing.meetup._date)}</span>
</div><!-- .meta -->
<div id="" class="content clear">
  ${unsafe(safemarkdown(thing.meetup.description))}
  <strong>Where:</strong>
  <span class="address">
    ${thing.meetup.location}
  </span>
  <div id="map"></div>
</div><!-- .content -->
<script type="text/javascript" charset="utf-8">
  document.observe("dom:loaded", function() {
    loadMaps(function() {
      var latlng = new google.maps.LatLng(${thing.meetup.latitude}, ${thing.meetup.longitude});
      var myOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map($("map"), myOptions);
      var marker = new google.maps.Marker({
        map: map,
        draggable: false,
        animation: google.maps.Animation.DROP,
        position: latlng,
        title: "${thing.meetup.title}"
      });
    });
  });
</script>
