<%!
  from routes.util import url_for
  from r2.lib.filters import safemarkdown
  from r2.lib.utils import prettytime
  from r2.lib.template_helpers import static
%>
<% meetup = thing.meetup %>
<h1>
  <a href="${url_for(controller='meetups', action='show', id=meetup._id36)}">${meetup.title}</a>
</h1>
<div class="meta clear">
##  ${unsafe(self.author(friend = thing.friend))}
  <span class="date">${prettytime(meetup.datetime())}</span>
</div><!-- .meta -->
<div id="" class="content clear">
  ${unsafe(safemarkdown(meetup.description))}
  <strong>Where:</strong>
  <span class="address">
    ${meetup.location}
  </span>
  <div id="map" data-latitude="${meetup.latitude}" data-longitude="${meetup.longitude}" data-title="${meetup.location}"></div>
</div><!-- .content -->
<script src="${static('meetups.js')}" type="text/javascript" charset="utf-8"></script>
