<%!
  from routes.util import url_for
  from r2.lib.filters import safemarkdown
  from r2.lib.utils import prettytime
  from r2.lib.template_helpers import static
%>
<% meetup = thing.meetup %>
<h1>
  <a href="${url_for(controller='meetups', action='show', id=meetup._id36)}">${meetup.title}</a>
</h1>
<div id="" class="content clear">
  ${unsafe(safemarkdown(meetup.description))}
</div><!-- .content -->
<div class="meetup meta clear">
  <strong>When:</strong>&#32;
  <span class="date">${prettytime(meetup.datetime())}</span><br>

  <strong>Where:</strong>&#32;
  <span class="address">${meetup.location}</span>
</div><!-- .meta -->
<div id="map" data-latitude="${meetup.latitude}" data-longitude="${meetup.longitude}" data-title="${meetup.location}"></div>

%if meetup.can_edit(c.user, c.user_is_admin):
  <a href="${url_for(controller='meetups', action='edit', id=meetup._id36)}">${_('Edit meetup')}</a>
%endif

<script src="${static('meetups.js')}" type="text/javascript" charset="utf-8"></script>
