<%!
  from routes.util import url_for
%>
<%namespace file="utils.html" import="plain_link"/>
<%namespace file="meetup.html" import="meetup_title"/>
<%
  if thing.location:
    title = _('Nearest Meetups')
  else:
    title = _('Upcoming Meetups')
%>
<h2 class='meetup-title'>${plain_link(title, '/meetups', _sr_path=False)}:</h2>
%if len(thing.meetups) > 0:
  <ul>
    %for meetup in thing.meetups:
      <li>${meetup_title(meetup)}</li>
    %endfor
  </ul>
%else:
  <p>There are no upcoming meetups in your area.&#32;
  <a href="/meetups" class="view-all">View all meetups</a>.
%endif
